h1 {
	font-family:Verdana;
	font-style: italic;
	font-size: 2em;
}

body {
	margin:0px;
}
p {
	font-family: verdana;
	font-size: 2em;
	color: #FFFFFF;
	text-shadow:2px 2px #741D90;
}

#intro {
	z-index: 2000;
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(255,153,204,0.5);
	text-align: center;
	padding-top: 20%;
	cursor:pointer;

}

#main {
	text-align: center;
	position: relative;
	background: url("background/background1.png");
	 -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-size: 100% 100%;
}

#centertext {
	position: absolute;
	margin-left:22%;
	margin-top:40%;
}

#floatingtext {
	margin:1em;
	top: 0px;
	left:0px;
	height: 85%;
	width:auto;
	z-index: 1000;
	position:fixed;
}

.content {
	text-align: justify;
	position:fixed;
	margin-top: 5em;
	margin-left: 5em;
	box-shadow: 5px 5px 20px 5px #741D90;
}


.content#page1 {
	background: url("pngs/background/background.png");
	 -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-size: 100% 100%;
}

.content#page2 {
	background: url("background/background2.png");
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-size: 100% 100%;
}

.content#page3 {
	background: url("background/background3.png");
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-size: 100% 100%;
}

.content#page4 {
	background: url("background/background4.png");
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-size: 100% 100%;
}

.content#page5 {
	background: url("background/background5.png");
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-size: 100% 100%;
}

.content#page6 {
	background: url("background/background6.png");
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-size: 100% 100%;
}

.content#void {
	background: url("background/void.png");
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-size: 100% 100%;
}


.mug {
	width:25%;
	height: 35%;
	margin-top:50px;
	position:relative;

}

.answers {
	text-align: center;
	font-family: MS Gothic;
	color:rgba(255,153,204,1);
	position:relative;
	margin:3em;
}

.faces {
	z-index: 1000;
	position: absolute;
	margin:50px;
}

.faces:hover {
	cursor: move;
}