h1 {
	font-family:helvetica;
	font-size: 10em;
}
#main {
	position: fixed;
}
#content {
	background: url("pngs/background/background.png");
	 -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-size: 100% 100%;
	position:fixed;
	margin-top: 5em;
	margin-left: 5em;
	box-shadow: 5px 5px 5px 10px #000000;
}

.mug {
	width:25%;
	height: 35%;
	margin-top:50px;
	position:relative;

}