h1 {
	font-family:MS Gothic;
	font-style: italic;
	font-size: 2em;
}

#main {
}

.content {	
	position:fixed;
	margin-top: 5em;
	margin-left: 5em;
	box-shadow: 5px 5px 5px 10px #000000;
}


.content#page1 {
	z-index: -99;
	background: url("pngs/background/background.png");
	 -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-size: 100% 100%;
}

.mug {
	width:25%;
	height: 35%;
	margin-top:50px;
	position:relative;

}

.answers {
	text-align: center;
	font-family: MS Gothic;
	color:rgba(255,153,204,1);
	text-shadow: 1px 1px #FFFFFF;
	font-size: 3em;
	position:relative;
	top:3em;
	padding-right: 2em;
	background: #FF99CC;
}